<!doctype html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SHARKTANK</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Font Awesome -->
    <!-- Latest compiled and minified CSS -->

            <!-- Includ<!-Footer
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    <!-- Font Awesome -->  <!-- MDB core JavaScript -->
      <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Knewave|Lily+Script+One|Oleo+Script|Tenor+Sans|Yesteryear" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Forum" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">
      </head>
      <style>
      html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: black !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #black !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}
body, html {
    height: 100%;
}
body
{
  font-family: 'Questrial', sans-serif;
}
</style>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">




        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse justify-content-center font-weight-bold" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav">




          <!-- Links -->

          <!-- Navbar brand -->
          <a class="navbar-brand px-lg-4 mr-0" href="#">
          <h2 style="font-family: 'Spicy Rice', cursive; color:#fafafa;">SHARK TANK</h3>
          </a>

          <!-- Links -->
  </ul>
          <!-- Links -->

         </div>

      </nav>
    <div class="view" style="background-image: url('https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2014/01/07/101317308-show-thumb-sharktank-1600x900.1910x1000.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

  </header>
<br>
<br>

<!--Jumbotron-->
<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid blue-grey lighten-4">

    <div class="container">
        <h2 class="h1-responsive font-weight-bold my-5"><i class="fa fa-angle-double-right" style="color:#0d47a1;" aria-hidden="true"></i>Right place to filter the startups<i class="fa fa-angle-double-left" style="color:#0d47a1;" aria-hidden="true"></i></h2>
        <p class="lead"> <i class="fa fa-chevron-right" style="color:#0d47a1;" aria-hidden="true"></i>You will be able to filter the startups with Season, Episode, Gender, investors ,amount<i class="fa fa-chevron-left" style="color:#0d47a1;" aria-hidden="true"></i></p>
    </div>

</div>
<!--Jumbotron-->
<div class="container">
    <!-- Material unchecked -->
<h1>Season</h1>
<br>

<!-- Default checked -->
<!-- Default inline 1-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('season=1 ')"id="defaultInline1">
  <label class="custom-control-label" for="defaultInline1">1</label>
</div>

<!-- Default inline 2-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func('season=2 ')" id="defaultInline2">
  <label class="custom-control-label" for="defaultInline2">2</label>
</div>

<!-- Default inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('season=3 ')" id="defaultInline3">
  <label class="custom-control-label" for="defaultInline3">3</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('season=4 ')"id="defaultInline4">
  <label class="custom-control-label" for="defaultInline4">4</label>
</div>

<!-- Default inline 2-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func('season=5 ')" id="defaultInline5">
  <label class="custom-control-label" for="defaultInline5">5</label>
</div>

<!-- Default inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('season=6 ')" id="defaultInline6">
  <label class="custom-control-label" for="defaultInline6">6</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('season=7 ')"id="defaultInline7">
  <label class="custom-control-label" for="defaultInline7">7</label>
</div>
<
<br>
<br>
<h1>Episode</h1>
<br>

<!-- Default checked -->
<!-- Default inline 1-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=1 ')"id="default1Inline1">
  <label class="custom-control-label" for="default1Inline1">1</label>
</div>

<!-- default1 inline 2-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func('episode=2 ')" id="default1Inline2">
  <label class="custom-control-label" for="default1Inline2">2</label>
</div>

<!-- default1 inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=3 ')" id="default1Inline3">
  <label class="custom-control-label" for="default1Inline3">3</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=4 ')"id="default1Inline4">
  <label class="custom-control-label" for="default1Inline4">4</label>
</div>

<!-- default1 inline 2-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func('episode=5 ')" id="default1Inline5">
  <label class="custom-control-label" for="default1Inline5">5</label>
</div>

<!-- default1 inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=6 ')" id="default1Inline6">
  <label class="custom-control-label" for="default1Inline6">6</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=7 ')"id="default1Inline7">
  <label class="custom-control-label" for="default1Inline7">7</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func('episode=8 ')" id="default1Inline8">
  <label class="custom-control-label" for="default1Inline8">8</label>
</div>

<!-- default1 inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=9 ')" id="default1Inline9">
  <label class="custom-control-label" for="default1Inline9">9</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=10 ')"id="default1Inline10">
  <label class="custom-control-label" for="default1Inline10">10</label>
</div>

<!-- default1 inline 2-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func('episode=11 ')" id="default1Inline11">
  <label class="custom-control-label" for="default1Inline11">11</label>
</div>

<!-- default1 inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=12 ')" id="default1Inline12">
  <label class="custom-control-label" for="default1Inline12">12</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=13 ')"id="default1Inline13">
  <label class="custom-control-label" for="default1Inline13">13</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func('episode=14 ')" id="default1Inline14">
  <label class="custom-control-label" for="default1Inline14">14</label>
</div>

<!-- default1 inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=15 ')" id="default1Inline15">
  <label class="custom-control-label" for="default1Inline15">15</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=16 ')"id="default1Inline16">
  <label class="custom-control-label" for="default1Inline16">16</label>
</div>

<!-- default1 inline 2-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func('episode=17 ')" id="default1Inline17">
  <label class="custom-control-label" for="default1Inline17">17</label>
</div>

<!-- default1 inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=18 ')" id="default1Inline18">
  <label class="custom-control-label" for="default1Inline18">18</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=19 ')"id="default1Inline19">
  <label class="custom-control-label" for="default1Inline19">19</label>
</div>
<br>
<br>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func('episode=20 ')" id="default1Inline20">
  <label class="custom-control-label" for="default1Inline20">20</label>
</div>

<!-- default1 inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=21 ')" id="default1Inline21">
  <label class="custom-control-label" for="default1Inline21">21</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('episode=22 ')"id="default1Inline22">
  <label class="custom-control-label" for="default1Inline22">22</label>
</div>

<!-- default1 inline 2-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func('episode=23 ')" id="default1Inline23">
  <label class="custom-control-label" for="default1Inline23">23</label>
</div>

<br>
<br>
<h1>Investors</h1>
<br>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('corcoran')"id="default2Inline1">
  <label class="custom-control-label" for="default2Inline1">corcoran</label>
</div>

<!-- default2 inline 2-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func('cuban')" id="default2Inline2">
  <label class="custom-control-label" for="default2Inline2">cuban</label>
</div>

<!-- default2 inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('greiner')" id="default2Inline3">
  <label class="custom-control-label" for="default2Inline3">greiner</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('herjavec')"id="default2Inline4">
  <label class="custom-control-label" for="default2Inline4">herjavec</label>
</div>

<!-- default2 inline 2-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func('john')" id="default2Inline5">
  <label class="custom-control-label" for="default2Inline5">john</label>
</div>

<!-- default2 inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('oleary')" id="default2Inline6">
  <label class="custom-control-label" for="default2Inline6">oleary</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('harrington')" id="default2Inline7">
  <label class="custom-control-label" for="default2Inline7">harrington</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('guest')" id="default2Inline8">
  <label class="custom-control-label" for="default2Inline8">guest</label>
</div>

<br>
<br>
<h1>Gender</h1>
<br>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('Male')"id="default3Inline1">
  <label class="custom-control-label" for="default3Inline1">Male</label>
</div>

<!-- default3 inline 2-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func('Female')" id="default3Inline2">
  <label class="custom-control-label" for="default3Inline2">Female</label>
</div>

<!-- default3 inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func('mixed team')" id="default3Inline3">
  <label class="custom-control-label" for="default3Inline3">Mixed Team</label>
</div>

<br>
<br>
<h1>Amount</h1>
<br>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func1('50000 <= AMOUNT AND 100000 >= AMOUNT')" id="default4Inline1">
  <label class="custom-control-label" for="default4Inline1">50000 to 100000</label>
</div>

<!-- default4 inline 2-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" onclick="func1('100000 <= AMOUNT AND 1000000 >= AMOUNT')" id="default4Inline2">
  <label class="custom-control-label" for="default4Inline2">100000 to 1000000</label>
</div>

<!-- default4 inline 3-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input"  onclick="func1('1000000 <= AMOUNT AND 10000000 >= AMOUNT')" id="default4Inline3">
  <label class="custom-control-label" for="default4Inline3">More than 1000000</label>
</div>
</div>
<br>
<br>

<div id="table1"></div>
</body>
<script>
var sea=[];
var epi=[];
var gen=[];
var investors=[];
var amount=[];
function func(data1)
{

var num=0;
console.log("clicked");
console.log(data1);
if(data1.includes("season"))
{
  if(sea.includes(data1))
  {
    if(sea.indexOf(data1)!=0)
    sea = sea.slice(0, sea.indexOf(data1)).concat(sea.slice(sea.indexOf(data1)+1, sea.length));
    else
    sea = sea.slice(1, sea.length);
  }
  else {
    sea.push(data1);
  }
}
if(data1.includes("episode"))
{
  if(epi.includes(data1))
  {
    if(epi.indexOf(data1)!=0)
    epi = epi.slice(0, epi.indexOf(data1)).concat(epi.slice(epi.indexOf(data1)+1, epi.length));
    else
    epi = epi.slice(1, epi.length);
  }
  else {
    epi.push(data1);
  }
}
if(data1.includes("corcoran") || data1.includes("cuban") || data1.includes("greiner") || data1.includes("herjavec") || data1.includes("john") || data1.includes("oleary") || data1.includes("harrington") || data1.includes("guest"))
{
  if(investors.includes(data1))
  {
    if(investors.indexOf(data1)!=0)
    investors = investors.slice(0, investors.indexOf(data1)).concat(investors.slice(investors.indexOf(data1)+1, investors.length));
    else
    investors = investors.slice(1, investors.length);
  }
  else {
    investors.push(data1);
  }
}
if(data1=='Male' || data1=='Female' || data1=='mixed team')
{
  if(gen.includes(data1))
  {
    if(gen.indexOf(data1)!=0)
    gen = gen.slice(0, gen.indexOf(data1)).concat(gen.slice(gen.indexOf(data1)+1, gen.length));
    else
    gen = gen.slice(1, gen.length);
  }
  else {
    gen.push(data1);
  }
}
if(data1.includes("AMOUNT"))
{
  if(amount.includes(data1))
  {
    if(amount.indexOf(data1)!=0)
    amount = amount.slice(0, amount.indexOf(data1)).concat(amount.slice(amount.indexOf(data1)+1, amount.length));
    else
    amount = amount.slice(1, amount.length);
  }
  else {
    amount.push(data1);
  }

}
var temp="";
if(sea.length>0)
temp="(";
for(i=0;i<sea.length-1;i++)
{

        num=1;
        temp+=sea[i]+" or ";
}
if(sea.length>0)
{
    num=1;
    temp+=sea[sea.length-1]+")";
}
console.log(num);
if(epi.length>0)
{
  if(num==1)
  temp+=" and (";
  else {
    temp+="(";
  }
}
for(i=0;i<epi.length-1;i++)
{
        num=1;
        temp+=epi[i]+" or ";
}
if(epi.length>0)
{
  num=1;
  temp+=epi[epi.length-1]+')';
}
if(investors.length>0)
{
  if(num==1)
  temp+=" and (";
  else {
    temp+="(";
  }
}
for(i=0;i<investors.length-1;i++)
{
  num=1;
  temp+=investors[i]+'=1 or ';
}
if(investors.length>0)
{
  num=1;
  temp+=investors[investors.length-1]+'=1)';
}
if(gen.length>0)
{
  if(num==1)
  temp+=" and (";
  else {
    temp+="(";
  }
}
for(i=0;i<gen.length-1;i++)
{
  num=1;
  temp+='GENDER="'+gen[i]+'" or ';
}
if(gen.length>0)
{
  num=1;
  temp+='GENDER="'+gen[gen.length-1]+'")';
}
if(amount.length>0)
{
  if(num==1)
  temp+=" and (";
  else {
    temp+="(";
  }
}
for(i=0;i<amount.length-1;i++)
{
        num=1;
        temp+=amount[i]+" or ";
}
if(amount.length>0)
{
  num=1;
temp+=amount[amount.length-1]+")";
}
console.log(temp);
  $.ajax({
    url:"https://sharktank1.herokuapp.com/season/"+temp,
    method:"POST",
    success:function(data)
    {

      document.getElementById("table1").innerHTML=data;
    }
    error:function(data){
      console.log("error");
    }
  });
}
function func1(data){
  func(data)
}
</script>
</html>
