<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NGO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Font Awesome -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- JQuery -->

      </head>
<body>
  <div class="form-check" style="display:inline;">
    <p>1<input type="checkbox" class="form-check-input" onclick="func('season=1 ')" >tjiyy</p>
    <p>2<input type="checkbox" class="form-check-input" onclick="func('season=2 ')" ></p>
    <p>3<input type="checkbox" class="form-check-input" onclick="func('season=3 ')" ></p>
    <p>4<input type="checkbox" class="form-check-input" onclick="func('season=4 ')" ></p>
    <p>5v<input type="checkbox" class="form-check-input" onclick="func('season=5 ')" ></p>
    <p>6<input type="checkbox" class="form-check-input" onclick="func('season=6 ')"  ></p>
    <p>7<input type="checkbox" class="form-check-input" onclick="func('season=7 ')" ></p>
  </div>
    <div class="form-check">
      <p>1<input type="checkbox" class="form-check-input" onclick="func1('episode=1 ')" >tjiyy</p>
      <p>2<input type="checkbox" class="form-check-input" onclick="func1('episode=2 ')" ></p>
      <p>3<input type="checkbox" class="form-check-input" onclick="func1('episode=3 ')" ></p>
      <p>1<input type="checkbox" class="form-check-input" onclick="func1('episode=4 ')" >tjiyy</p>
      <p>2<input type="checkbox" class="form-check-input" onclick="func1('episode=5 ')" ></p>
      <p>3<input type="checkbox" class="form-check-input" onclick="func1('episode=6 ')" ></p>
      <p>1<input type="checkbox" class="form-check-input" onclick="func1('episode=7 ')" >tjiyy</p>
      <p>2<input type="checkbox" class="form-check-input" onclick="func1('episode=8 ')" ></p>
      <p>3<input type="checkbox" class="form-check-input" onclick="func1('episode=9 ')" ></p>
      <p>1<input type="checkbox" class="form-check-input" onclick="func1('episode=10 ')" >tjiyy</p>
      <p>2<input type="checkbox" class="form-check-input" onclick="func1('episode=11 ')" ></p>
      <p>3<input type="checkbox" class="form-check-input" onclick="func1('episode=12')" ></p>
      <p>1<input type="checkbox" class="form-check-input" onclick="func1('episode=13 ')" >tjiyy</p>
      <p>2<input type="checkbox" class="form-check-input" onclick="func1('episode=14 ')" ></p>
      <p>3<input type="checkbox" class="form-check-input" onclick="func1('episode=15')" ></p>
      <p>1<input type="checkbox" class="form-check-input" onclick="func1('episode=16 ')" >tjiyy</p>
      <p>2<input type="checkbox" class="form-check-input" onclick="func1('episode=17 ')" ></p>
      <p>3<input type="checkbox" class="form-check-input" onclick="func1('episode=18 ')" ></p>
      <p>1<input type="checkbox" class="form-check-input" onclick="func1('episode=19 ')" >tjiyy</p>
      <p>2<input type="checkbox" class="form-check-input" onclick="func1('episode=20 ')" ></p>
      <p>3<input type="checkbox" class="form-check-input" onclick="func1('episode=21')" ></p>
      <p>1<input type="checkbox" class="form-check-input" onclick="func1('episode=21 ')" >tjiyy</p>
      <p>2<input type="checkbox" class="form-check-input" onclick="func1('episode=22 ')" ></p>
      <p>3<input type="checkbox" class="form-check-input" onclick="func1('episode=23 ')" ></p>

</div>
<div class="form-check">
  <p>corcoran<input type="checkbox" class="form-check-input" onclick="func1('corcoran')" >CORCORAN</p>
  <p>female<input type="checkbox" class="form-check-input" onclick="func1('cuban')" >CUBAN</p>
  <p>male<input type="checkbox" class="form-check-input" onclick="func1('greiner')" >GREINER</p>
  <p>female<input type="checkbox" class="form-check-input" onclick="func1('herjavec')" >HERJAVEC</p>
  <p>male<input type="checkbox" class="form-check-input" onclick="func1('john')" >JOHN</p>
  <p>female<input type="checkbox" class="form-check-input" onclick="func1('oleary')" >OLEARY</p>
  <p>male<input type="checkbox" class="form-check-input" onclick="func1('harrington')">HARRINGTON</p>
  <p>female<input type="checkbox" class="form-check-input" onclick="func1('guest')">GUEST</p>
</div>SELECT ID FROM MyTable WHERE MinValue <= @input AND MaxValue >= @input
<div class="form-check">
  <p>male<input type="checkbox" class="form-check-input" onclick="func1('Male')" >Male</p>
  <p>female<input type="checkbox" class="form-check-input" onclick="func1('Female')" >Female</p>
</div>
<div class="form-check">
  <p>corcoran<input type="checkbox" class="form-check-input" onclick="func1('50000 <= AMOUNT AND 100000 >= AMOUNT')" >50000 to100000 t0</p>
  <p>female<input type="checkbox" class="form-check-input" onclick="func1('100000 <= AMOUNT AND 1000000 >= AMOUNT')" >100000 to 1000000</p>
  <p>male<input type="checkbox" class="form-check-input" onclick="func1('1000000 <= AMOUNT AND 10000000 >= AMOUNT')" >MORE THAN 100000</p>
</div>
<div id="table1"></div>
</body>
<script>
var sea=[];
var epi=[];
var gen=[];
var investors=[];
var amount=[];
function func(data1)
{
var num=0;
console.log("clicked");
console.log(data1);
if(data1.includes("season"))
{
  if(sea.includes(data1))
  {
    if(sea.indexOf(data1)!=0)
    sea = sea.slice(0, sea.indexOf(data1)).concat(sea.slice(sea.indexOf(data1)+1, sea.length));
    else
    sea = sea.slice(1, sea.length);
  }
  else {
    sea.push(data1);
  }
}
if(data1.includes("episode"))
{
  if(epi.includes(data1))
  {
    if(epi.indexOf(data1)!=0)
    epi = epi.slice(0, epi.indexOf(data1)).concat(epi.slice(epi.indexOf(data1)+1, epi.length));
    else
    epi = epi.slice(1, epi.length);
  }
  else {
    epi.push(data1);
  }
}
if(data1.includes("corcoran") || data1.includes("cuban") || data1.includes("greiner") || data1.includes("herjavec") || data1.includes("john") || data1.includes("oleary") || data1.includes("harrington") || data1.includes("guest"))
{
  if(investors.includes(data1))
  {
    if(investors.indexOf(data1)!=0)
    investors = investors.slice(0, investors.indexOf(data1)).concat(investors.slice(investors.indexOf(data1)+1, investors.length));
    else
    investors = investors.slice(1, investors.length);
  }
  else {
    investors.push(data1);
  }
}
if(data1=='Male' || data1=='Female')
{
  if(gen.includes(data1))
  {
    if(gen.indexOf(data1)!=0)
    gen = gen.slice(0, gen.indexOf(data1)).concat(gen.slice(gen.indexOf(data1)+1, gen.length));
    else
    gen = gen.slice(1, gen.length);
  }
  else {
    gen.push(data1);
  }
}
if(data1.includes("AMOUNT"))
{
  if(amount.includes(data1))
  {
    if(amount.indexOf(data1)!=0)
    amount = amount.slice(0, amount.indexOf(data1)).concat(amount.slice(amount.indexOf(data1)+1, amount.length));
    else
    amount = amount.slice(1, amount.length);
  }
  else {
    amount.push(data1);
  }
}
var temp="";
if(sea.length>0)
temp="(";
for(i=0;i<sea.length-1;i++)
{
        num=1;
        temp+=sea[i]+" or ";
}
if(sea.length>0)
{
    num=1;
    temp+=sea[sea.length-1]+")";
}
console.log(num);
if(epi.length>0)
{
  if(num==1)
  temp+=" and (";
  else {
    temp+="(";
  }
}
for(i=0;i<epi.length-1;i++)
{
        num=1;
        temp+=epi[i]+" or ";
}
if(epi.length>0)
{
  num=1;
  temp+=epi[epi.length-1]+')';
}
if(investors.length>0)
{
  if(num==1)
  temp+=" and (";
  else {
    temp+="(";
  }
}
for(i=0;i<investors.length-1;i++)
{
  num=1;
  temp+=investors[i]+'=1 or ';
}
if(investors.length>0)
{
  num=1;
  temp+=investors[investors.length-1]+'=1)';
}
if(gen.length>0)
{
  if(num==1)
  temp+=" and (";
  else {
    temp+="(";
  }
}
for(i=0;i<gen.length-1;i++)
{
  num=1;
  temp+='GENDER="'+gen[i]+'" or ';
}
if(gen.length>0)
{
  num=1;
  temp+='GENDER="'+gen[gen.length-1]+'")';
}
if(amount.length>0)
{
  if(num==1)
  temp+=" and (";
  else {
    temp+="(";
  }
}
for(i=0;i<amount.length-1;i++)
{
        num=1;
        temp+=amount[i]+" or ";
}
if(amount.length>0)
{
  num=1;
temp+=amount[amount.length-1]+")";
}
console.log(temp);
  $.ajax({
    url:"http://localhost:1337/season/"+temp,
    method:"POST",
    success:function(data)
    {
      document.getElementById("table1").innerHTML=data;
    }
  });
}
function func1(data){
  func(data)
}
</script>
</html>
